<a href="https://colab.research.google.com/github/andylikescodes/Chapman_CS530_Data_Mining/blob/main/Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS530 Quiz1

## Question 1:

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
list_1 = [2, 3, 4, 5, 6, np.nan, 9, 27, np.nan, np.nan, 9, 1, 3, 5, 3, 6]
list_2 = [4, 5, np.nan, 10, 11, 7, 3, 4, 4, 6, np.nan, 10, 2, 3, 6, 5]

Do the following using Numpy
* Fill in the NA values for the two lists with random integers between 1-10

In [ ]:
# Your answer goes here. Create as many blocks as necessary

* Find the indexes for the even number for list_2.

In [ ]:
# Your answer goes here. Create as many blocks as necessary

* Get the union and intersections of the two lists.

In [ ]:
# Your answer goes here. Create as many blocks as necessary

* Convert the two lists into two 4x4 matrixes, apply matrix multiplication, and find the eigenvalues and eigenvectors for the matrix.

In [ ]:
# Your answer goes here. Create as many blocks as necessary

## Question 2:

* Load the titanic.csv dataset

In [ ]:
# Your answer goes here. Create as many blocks as necessary

* Print the first 12 rows of the dataset (You should have 11 passengers and the column labels)

In [ ]:
# Your answer goes here. Create as many blocks as necessary

*  PRINT the shape of the dataset in the line below (Copied/Pasted answers will NOT be accepted)

In [ ]:
print("The shape of the dataset is: ", *insert code here* )

* PRINT the column names in the line below (Copied/Pasted answers will NOT be accepted)

In [ ]:
print("The columns in the titanic dataset are:  ", *insert code here* )

* Create a groupby object using titanic over the 'Sex' column: by_sex
* Create a groupby object using titanic over the 'Pclass' column: by_class

In [ ]:
by_sex = *insert code here*
by_class = *insert code here*

* Create a variable grouped by Pclass and Survived

In [ ]:
count_by_class = *insert code here*

# Print count_by_class
print(count_by_class)

* Create a variable grouped by Pclass and Survived

In [ ]:
count_by_class = *insert code here*

# Print count_by_class
print(count_by_class)

* Aggregate and create a variable by 'Survived' column of 'Pclass', 'Sex'

In [ ]:
count_mult = *insert code here*

# Print count_mult
print(count_mult)